In [1]:
#Import pandas
import pandas as pd

In [11]:
#Import weather dat
weather = pd.read_csv("W:/Ckalib.Nelson/HackCville/Machine Learning Project/ML Competition Materials.csv")
type(weather)

pandas.core.frame.DataFrame

In [3]:
#View first five results
weather.head()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2009-07-31,3.8,21.1,0.0,2.4,9.7,SSW,19.0,NaN,S,...,74.0,38.0,1026.9,1023.9,1.0,0.0,11.7,20.2,No,No
1,2011-10-09,13.7,23.5,0.2,NaN,NaN,WSW,31.0,WNW,W,...,81.0,39.0,1008.6,1004.9,NaN,NaN,17.1,22.6,No,No
2,2011-10-25,2.8,16.5,2.2,3.4,11.1,SW,41.0,NNW,SE,...,55.0,41.0,1018.2,1016.9,NaN,NaN,8.7,15.6,Yes,No
3,2010-12-19,15.0,29.0,NaN,NaN,5.7,ESE,59.0,E,ESE,...,35.0,20.0,1012.0,1008.4,NaN,NaN,22.3,28.5,NaN,Yes
4,2016-02-05,16.3,32.0,0.0,5.4,12.9,NaN,NaN,E,NaN,...,80.0,NaN,1015.5,1014.7,0.0,NaN,21.0,NaN,No,No

In [12]:
#View the dat size
weather.size

2189770

In [13]:
#View the shape of the dataset
weather.shape

(99535, 22)

In [7]:
#View columns of datset
weather.columns

Index(['Date', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [4]:
#Import additional libraries
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, accuracy_score, mean_squared_error

In [5]:
#Count unique results of 'Rain Today'
weather['RainToday'].value_counts()

No     76419
Yes    22082
Name: RainToday, dtype: int64

In [8]:
#Count unique results of 'Rain Tomorrow'
weather['RainTomorrow'].value_counts()

No     77183
Yes    22352
Name: RainTomorrow, dtype: int64

In [14]:
#Create a feature object from the columns
features = weather[['Date', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm']]
type(features)

pandas.core.frame.DataFrame

In [15]:
#View feature object
features.head()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,2009-07-31,3.8,21.1,0.0,2.4,9.7,SSW,19.0,NaN,S,0.0,11.0,74.0,38.0,1026.9,1023.9,1.0,0.0,11.7,20.2
1,2011-10-09,13.7,23.5,0.2,NaN,NaN,WSW,31.0,WNW,W,7.0,11.0,81.0,39.0,1008.6,1004.9,NaN,NaN,17.1,22.6
2,2011-10-25,2.8,16.5,2.2,3.4,11.1,SW,41.0,NNW,SE,19.0,9.0,55.0,41.0,1018.2,1016.9,NaN,NaN,8.7,15.6
3,2010-12-19,15.0,29.0,NaN,NaN,5.7,ESE,59.0,E,ESE,30.0,28.0,35.0,20.0,1012.0,1008.4,NaN,NaN,22.3,28.5
4,2016-02-05,16.3,32.0,0.0,5.4,12.9,NaN,NaN,E,NaN,4.0,NaN,80.0,NaN,1015.5,1014.7,0.0,NaN,21.0,NaN

In [16]:
#create target objects from column which is a response in the dataset
y_target1 = weather[['RainToday']]
y_target2 = weather[['RainTomorrow']]

In [17]:
#View target object 1
y_target1.head()

  RainToday
0        No
1        No
2       Yes
3       NaN
4        No

In [18]:
#View target object 2
y_target2.head()

  RainTomorrow
0           No
1           No
2           No
3          Yes
4           No

In [25]:
#Check for null values
print('Let\'s check for null values\n')
print(weather.isnull().sum())

Let's check for null values

Date                 0
MinTemp            460
MaxTemp            235
Rainfall          1034
Evaporation      42685
Sunshine         47555
WindGustDir       6489
WindGustSpeed     6442
WindDir9am        7018
WindDir3pm        2634
WindSpeed9am       926
WindSpeed3pm      1833
Humidity9am       1231
Humidity3pm       2543
Pressure9am       9825
Pressure3pm       9802
Cloud9am         37698
Cloud3pm         40070
Temp9am            627
Temp3pm           1921
RainToday         1034
RainTomorrow         0
dtype: int64

In [29]:
#Encode categorical data - Convert categorical column in the dataset to numerical data.
from sklearn.preprocessing import LabelEncoder
X_labelencoder = LabelEncoder()

features[['WindGustDir','WindDir9am', 'WindDir3pm']] = X_labelencoder.fit_transform(features[['WindGustDir','WindDir9am', 'WindDir3pm']])

X_labelencoder.classes_ #Maintains the information of the encoded values. Encode a non-numerical data into a numerical data


features[['WindGustDir','WindDir9am', 'WindDir3pm']]

ValueError: bad input shape (99535, 3)

In [26]:
#Handle missing values. Fill the missing values with “mean” of the respective column.
from sklearn.preprocessing import Imputer

missingValuesImputer = Imputer (missing_values = 'NaN', strategy= 'mean', axis =0) #Initializing object

missingValuesImputer = missingValuesImputer.fit(features[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm']])
features[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm']] = missingValuesImputer.transform(features[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm']])

features[['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm']]

ValueError: could not convert string to float: 'ESE'

In [22]:
#Split test and training data for target object 1
#By default 75% training data and 25% testing data
from sklearn.cross_validation import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features,
                                                    y_target1,
                                                    test_size=.2,
                                                    random_state=1)

In [23]:
#view shape of train and test data sets for both feature and response
print (x_train.shape)
print (y_train.shape)
print (x_test.shape)
print (y_test.shape)

(74651, 20)
(74651, 1)
(24884, 20)
(24884, 1)

ValueError: could not convert string to float: 'N'